.todo-container {
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  display: flex;
  position: static;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.todo-button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.todo-button:hover {
  background: rgb(167, 167, 167);
}

.todo-input {
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
  border-radius: 5px;
  width: 15%;
}

.todo-list {
  color: white;
  overflow: hidden;
}
